# Visual Studio-specific ignores
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
bin/
obj/
*.pdb
*.exe
*.dll
*.cache
*.log

# Python-specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.eggs/
*.egg-info/
develop-eggs/
dist/
build/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.cache
*.mo
*.pot
db.sqlite3
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
.python-version
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.mypy_cache/
.dmypy.json
.pyre/
.idea/
